@model ChampionsLeagueMaster.ViewModels.Teams.TeamViewModel

@{
    ViewData["Title"] = "Usuń Zespół";
}

<div class="container py-4">
    <h1 class="text-center mb-4 display-5 fw-bold text-primary">Usuń Zespół</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="text-danger mb-3">Czy na pewno chcesz usunąć ten zespół?</h3>
            <dl class="row">
                <dt class="col-sm-3">Nazwa Zespołu</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-3">Kraj Pochodzenia</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Country)</dd>

                <dt class="col-sm-3">Rok założenia</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FoundedAt)</dd>
            </dl>

            <form asp-action="Delete" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">Usuń</button>
                <a asp-action="Index" class="btn btn-secondary">Wróć</a>
            </form>
        </div>
    </div>
</div>